{{#each tabs as |tab|}}
  {{log tab}}
  <!-- {{> partial}} -->

  <tr data-id="{{tab.id}}"
    data-date="{{tab.date}}"
    data-project_name="{{tab.project_name}}"
    data-task="{{tab.task}}"
    data-time_spent="{{tab.time_spent}}"
    data-notes="{{tab.notes}}"
    data-toggle="modal" data-target="#modifyTabModal">
    <td class="date-td">
      {{#if tab.date}}
        {{tab.date}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="project-name-td">
      {{#if tab.project_name}}
        {{tab.project_name}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="task-td">
      {{#if tab.task}}
        {{tab.task}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="time-spent-td">
      {{#if tab.time_spent}}
        {{tab.time_spent}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="notes-td">
      {{#if tab.notes}}
        {{tab.notes}}
      {{else}}
        —
      {{/if}}
    </td>
    <td class="modify-tab-button-td"><div class="modify-tab-button" id="modify-tab-button">Modify</div></td>
  </tr>

{{/each}}
